.course-status {
  text-align: center;
  margin: auto;
  h3 {
    font-family: 'TradeGothic', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.19;
    color: #2e2e2e;
    margin: 0;
    padding-bottom: 45px;
  }
  p {
    font-family: 'TradeGothic', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #2e2e2e;
    padding-bottom: 27px;
    margin: auto;
    max-width: 512px;
  }
  button {
    font-family: 'TradeGothic', sans-serif;
    font-size: 16px;
    line-height: 1.19;
    color: #fff;
    width: 161px;
    height: 46px;
    background-color: #673bb8;
    border: 1px solid transparent;
  }
}
