<div class="list-container">
  <div *ngFor="let trainingsList of trainingsLists;">
    <a [routerLink]='["/training-details", trainingsList.id]'>
  <app-image-description-card
                              [imageSrc]="trainingsList.image" [type]="trainingsList.label"
                              [title]="trainingsList.title" [date]="trainingsList.date"
                              [description]="trainingsList.description">
  </app-image-description-card>
    </a>
  </div>
</div>
<div class="btn-container">
  <button  *ngIf="showLoadMoreButton" (click)="loadMoreData()" class="ypeer-btn btn-outlined" [translateLocal]="{EN: 'Load More', AR: 'المزيد'}"></button>
</div>
