<div class="course-bar">
  <p *ngIf="name" class="name"> {{name}} <img *ngIf="disabled" [deploySrc]="'assets/images/icons/warning icon.png'" alt="warning-icon"></p>
  <div class="d-flex align-items-center" *ngIf="progress">
    <circle-progress
      [percent]="progress"
      [radius]="10"
      [outerStrokeWidth]="2"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#707070'"
      [innerStrokeColor]="'#fff'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundPadding]="-26"
      [backgroundStrokeWidth]="0"
      [space]="-2"
      [subtitleFontSize]="'6'"
      [unitsFontSize]="'6'"
      [showSubtitle]="false">
    </circle-progress>

    <p class="progress" [translateLocal]="{EN: 'Your Progress', AR: 'مستوي التقدم'}"></p>
  </div>
  <p *ngIf="score" class="score">{{isArabic? 'درجاتك:' : 'Your Score:'}}<span> {{score}}% </span></p>
  <button class="normal-btn" [disabled]="disabled && !hasCertificate" (click)="onClick()" [ngClass]="{'disabled': disabled && !hasCertificate}" [translateLocal]="btnText"></button>
</div>



