<div class="card-container">
  <div class="image-container">
    <img [src]="imageSrc" alt="latest from ypeer">
  </div>
  <div class="description-container">
    <span class="type" [translateLocal]="type"></span>
    <h2 class="title" [translateLocal]="title"></h2>
    <span class="date" [translateLocal]="date"></span>
    <p class="description" [translateLocal]="description"></p>
    <div class="more">
      <img src="assets/images/icons/more-icon.png" alt="more" (click)="clickMore()">
    </div>
  </div>
</div>
