a{
  color: transparent;
}
.might-like-item {
  margin-right: 30px;
  height: 100%;
  min-width: 270px;
  position: relative;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  @media(max-width: 1300px)  {
    padding-right: 30px;
  }
  @media(max-width: 500px)  {
   margin-right: 0;

  }

  .image-container {
    img {
      width: 257px;
      height: auto;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }

  .description-container {
    width: 257px;
    object-fit: contain;
    margin-top: 15px;

    .type {
      background-color: #ff7900;
      font-size: 12px;
      font-weight: bold;
      color: #FFFFFF;
      padding: 8px 10px;
    }

    .title {
      font-size: 22px;
      font-weight: bold;
      color: #232323;
      margin: 15px 0;
    }

    .description {
      font-size: 14px;
      line-height: 1.5;
      color: #232323;
      margin-bottom: 15px;
    }
  }
  .more {
    position: absolute;
    bottom: 0;
    width: 100%;

    img {
      cursor: pointer;
      margin-inline-start: auto;
    }
  }
}

.limit-lines-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 500px) {
  .might-like-item {
    padding-right: 15px;
    .image-container {
      display: flex;
      justify-content: center;
    }

    .description-container {
      width: 80%;
    }
  }
}
