<div class="event-details-story">

  <p class="story-date" [translateLocal]="{EN:detailsData.dateEn,AR:detailsData.dateAr}"></p>

  <p class="description-part-one" [translateLocal]="{EN:detailsData.detailsDescriptionEn1,AR:detailsData.detailsDescriptionAr1}"></p>

  <p class="description-part-two" [translateLocal]="{EN:detailsData.detailsDescriptionEn2,AR:detailsData.detailsDescriptionAr2}"></p>

  <h3 [translateLocal]="{AR: 'عنّا', EN: 'Our Story'}"></h3>

  <p class="description-part-three" [translateLocal]="{EN:detailsData.ourStoryEn1,AR:detailsData.ourStoryAr1}"></p>

  <p class="description-part-four" [translateLocal]="{EN:detailsData.ourStoryEn2,AR:detailsData.ourStoryAr2}"></p>

  <img [src]="detailsData.ourStoryImage" alt="story-image">

  <p class="description-part-five" [translateLocal]="{EN:detailsData.ourStoryEn3,AR:detailsData.ourStoryAr3}"></p>

  <p class="description-part-six" [translateLocal]="{EN:detailsData.ourStoryEn4,AR:detailsData.ourStoryAr4}"></p>

</div>
