<div class="list-container">
  <app-image-description-card *ngFor="let storyList of storyLists | slice:0:6;"
                              [imageSrc]="storyList.image" [type]="storyList.label"
                              [title]="storyList.title" [date]="storyList.date"
                              [description]="storyList.description">
  </app-image-description-card>
</div>
<div class="btn-container">
  <button *ngIf="showLoadMoreButton" (click)="loadMoreData()" class="ypeer-btn btn-outlined" [translateLocal]="{EN: 'Load More', AR: 'المزيد'}"></button>
</div>
