<div class="course-viewer-header">
  <mat-toolbar fxFlex="100" fxLayout="row">
    <mat-toolbar-row fxFlex="100" fxFill fxLayout="row" fxLayoutAlign="start">
      <div class="tool-box" *ngIf="isMobile"
           fxLayout="row" fxLayoutAlign="start" fxFlexAlign="center">
        <button fxFill fxFlex="'50px'" class="curriculum-btn" (click)="toggleCurriculumDrawer()"
                color="warn" mat-flat-button>
          <mat-icon  color="accent">list</mat-icon>
        </button>
      </div>
      <span style="margin: 15px" fxFlexAlign="center" fxFlex="100" fxLayoutAlign="start" fxLayout="row">
      <img src="assets/images/ypeer-logo-header.png"
           class="logo" routerLink="/home" alt="hesas-logo">
        <div class="course-name-separator"></div>
        <div class="course-name">Introductory Course Name</div>
    </span>
      <div class="exit" fxFlex.xs="25%" fxFlex.sm="25%" fxFlex.md="30%" fxFlex.lg="30%" fxFlex.xl="30%"
           fxFlexAlign="center" fxLayoutAlign="center" fxLayout="row">
        <circle-progress [percent]="courseProgress"
                         [radius]="16"
                         [outerStrokeWidth]="3"
                         [innerStrokeWidth]="3"
                         [outerStrokeColor]="'#5a3f99'"
                         [innerStrokeColor]="'#f0f0f0'"
                         [animation]="true"
                         [animationDuration]="300" [space]="-3"></circle-progress>
        <div class="progress-text" [translateLocal]="{AR: 'نسبة تقدمك', EN: 'Your Progress'}"></div>
        <button (click)="closeCourseViewer()" class="exit-button">
          <span *ngIf="!isMobile" fxHide.sm fxHide.xs [translateLocal]="{AR: 'الخروج من الفيديو', EN: 'Exit Course'}"></span>
          <mat-icon style="line-height: 2.5" *ngIf="isMobile">exit_to_app</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

</div>

