.course-viewer-header{
  height: 64px;
  margin-bottom: 20px;
  mat-toolbar {
    background-color: transparent;
    .mat-toolbar-row {
      button.exit-button {
        text-decoration: underline;
        color: #673bb8 !important;
        background: transparent;
        border: none;
        font-size: 12px;
      }
      .progress-text {
        color: #232323;
        font-size: 12px;
        display: flex;
        align-items: center;
        margin: 0 40px 0 8px;
      }
      padding: 0;
      button.mat-flat-button {
        background-color: transparent !important;
        color: #000 !important;

        mat-icon {
          background-color: transparent !important;
          color: #000 !important;
        }

        &.curriculum-btn {
          background: transparent !important;
          border-radius: 0;
          width: auto !important;
          padding-left: 14px;
          padding-right: 14px;

          mat-icon {
            color: #000000 !important;
          }
        }
        min-width: 0 !important;
      }
      .logo{
        width: auto;
        object-fit: contain;
        cursor: pointer;
        &:hover, &:focus{
          outline: none;
        }
      }
      .course-name-separator {
        width: 2px;
        height: 18px;
        margin: 7px 35.9px 2px 50px;
        background-color: #2e2e2e;
      }
      .course-name {
        font-size: 18px;
        font-weight: bold;
        color: #2e2e2e;
        font-family: TradeGothic, sans-serif;
        text-transform: uppercase;
      }
    }
  }
}
