<div class="stuff video" *ngIf="stuff?.type == 2">
  <mat-list-item [title]="stuff.titleLocal.AR" role="listitem" (click)="onClick()" [class.selected-stuff]="stuff?.isSelected">
    <mat-icon mat-list-icon svgIcon="viewer_video"></mat-icon>
    <mat-icon *ngIf="stuff.finished" mat-list-icon color="primary">check_circle</mat-icon>
    <h4 mat-line [translateLocal]="stuff?.titleLocal"></h4>
  </mat-list-item>
  <!--  <mat-progress-bar mode="determinate" color="primary" [value]="50" ></mat-progress-bar>-->
  <mat-divider style="margin-top: 0.5px"></mat-divider>
</div>

<div class="stuff article" *ngIf="stuff?.type == 3">
  <mat-list-item role="listitem" (click)="onClick()" [class.selected-stuff]="stuff?.isSelected">
    <mat-icon mat-list-icon svgIcon="viewer_article"></mat-icon>
    <mat-icon *ngIf="stuff.finished" mat-list-icon color="primary">check_circle</mat-icon>
    <h4 mat-line [translateLocal]="stuff?.titleLocal"></h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</div>

<div class="stuff material" *ngIf="stuff?.type == 4">
  <mat-list-item role="listitem" (click)="onClick()" [class.selected-stuff]="stuff?.isSelected">
    <mat-icon mat-list-icon svgIcon="viewer_resource"></mat-icon>
    <mat-icon *ngIf="stuff.finished" mat-list-icon color="primary">check_circle</mat-icon>
    <h4 mat-line [translateLocal]="stuff?.titleLocal"></h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</div>

<div class="stuff interactive" *ngIf="stuff?.type == 6">
  <mat-list-item role="listitem" (click)="onClick()" [class.selected-stuff]="stuff?.isSelected">
    <mat-icon mat-list-icon svgIcon="viewer_interactive"></mat-icon>
    <mat-icon *ngIf="stuff.finished" mat-list-icon color="primary">check_circle</mat-icon>
    <h4 mat-line [translateLocal]="stuff?.titleLocal"></h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</div>

<div class="stuff quiz" *ngIf="stuff?.type == 5">
  <mat-list-item role="listitem" (click)="onClick()" [class.selected-stuff]="stuff?.isSelected">
    <mat-icon mat-list-icon svgIcon="viewer_assessment"></mat-icon>
    <mat-icon *ngIf="stuff.finished" mat-list-icon color="primary">check_circle</mat-icon>
    <h4 mat-line [translateLocal]="stuff?.titleLocal"></h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</div>




