<div class="sub-footer-section">
  <div class="sub-footer-container" [ngStyle] = "showLinks ? {'justify-content': 'space-between'}: {'justify-content': 'flex-end'}">
    <div *ngIf="showLinks" class="left-section footer-inner-section">
      <app-sub-footer-menu></app-sub-footer-menu>
    </div>
    <div class="right-section footer-inner-section">
      <div class="powered-by">
        <span>Powered by</span>
        <img src="assets/images/almentor-logo-footer.png" alt="almentor-logo-footer">
      </div>
      <div class="rights">
        <span [translateLocal]="{EN: '© All rights reserved. 2021', AR: '© جميع الحقوق محفوظه 2021'}"></span>
      </div>
    </div>
  </div>
</div>
