<div class="story-details-story">
  <p class="story-date" [translateLocal]="{EN: 'Jan 12, 2021', AR: 'Jan 12, 2021'}"></p>

  <img src="assets/images/story-details-photo.png" alt="story-image">

  <p class="description-part-five" [translateLocal]="{EN: ' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna\n'+
'    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: ''}"></p>

  <p class="description-part-six" [translateLocal]="{EN: ' Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna\n'+
'    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.\n'+
'    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\n'+
'    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: ''}">
  </p>

  <h3>Section Title</h3>

  <p class="description-part-one" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi sed do eiusmod tempor incididunt ut labore et dolore magna\n'+
'    aliqua. Ut enim ad minim veniam eu fugiat nulla.', AR: ''}"></p>

  <p class="description-part-two" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna\n'+
'    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: ''}"></p>


  <p class="description-part-three" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\n'+
'    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna\n'+
'    aliqua.', AR: ''}"></p>

  <p class="description-part-four" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna\n'+
'    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: ''}"></p>


</div>
