.story-details-story {
  .story-date {
    font-size: 14px;
    color: #929292;
    margin-bottom: 27px;
  }
  .media-container {
    position: relative;
    width: 100%;
    height: fit-content;
    .media-image {
      display: block;
      width: 100%;
      height: auto;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      transition: .5s ease;
      //background: rgba(0, 0, 0, 0.35);
      opacity: 1;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      .play-icon {
        position: absolute;
        display: flex;
        width: 62px;
        @media(max-width: 500px){
          width: 30px;
        }
      }
    }
  }

  .description-part-five{
    margin-top: 30px;
  }
  .description-part-one, .description-part-three, .description-part-five, .description-part-two {
    margin-bottom: 30px;
  }

  .description-part-four, .description-part-six {
    margin-bottom: 0;
  }

  .description-part-one, .description-part-two, .description-part-three, .description-part-four, .description-part-five, .description-part-six {
    font-size: 20px;
    line-height: 1.5;
    color: #232323;
  }

  img {
    width: 100%;
    padding-bottom: 30px;
  }

  h3 {
    font-size: 32px;
    font-weight: bold;
    color: #2e2e2e;
    padding-top: 31px;
    padding-bottom: 17px;
    margin-bottom: 0;
  }
}
