<div class="useful-links">
  <h4 [translateLocal]="{EN:'Useful Links',AR:'روابط مفيدة'}"></h4>
  <div class="link-container">
    <div class="square"></div>
    <a [translateLocal]="{EN:'Lorem ipsum dolor sit amet',AR:'روابط مفيدة'}">
    </a>
  </div>
  <div class="link-container">
    <div class="square"></div>
    <a [translateLocal]="{EN:'Onsectetur adipiscing',AR:'روابط مفيدة'}">
    </a>
  </div>
  <div class="link-container">
    <div class="square"></div>
    <a [translateLocal]="{EN:'Elit, sed do eiusmod tempor',AR:'روابط مفيدة'}">
    </a>
  </div>
  <div class="link-container">
    <div class="square"></div>
    <a [translateLocal]="{EN:'Incididunt ut labore et dolore',AR:'روابط مفيدة'}">
    </a>
  </div>
</div>

