.course-card {
  position: relative;
  width: 613px;
  height: 276px;
  .course-image {
    display: block;
    width: 100%;
    height: auto;
  }
  .course-card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
    .course-description {
      color: white;
      position: absolute;
      padding: 41px 41px 38px;
      h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 45px;
        text-align: center;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

.course-card:hover .course-card-overlay {
  opacity: .65;
  cursor: pointer;
}

@media (max-width: 650px) {
  .course-card {
    width: 95%;
    height: auto;
    margin: auto;
    .course-card-overlay {
      .course-description {
        padding: 20px;
        h1 {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .course-card {
    .course-card-overlay {
      justify-content: center;
      align-items: center;
      display: flex;
      .course-description {
        p {
          display: none;
        }
      }
    }
  }
}
