<div class="story-section">
  <div class="story-image-container">
    <img [deploySrc]="'assets/images/our-story-image1.png'" alt="our-story">
  </div>
  <div class="story-container">
    <h2 class="story-title" [translateLocal]="{EN: 'OUR STORY', AR: 'عن Y-peer'}"></h2>
    <span class="story-sub-title" [translateLocal]="{EN: 'Who we are and what we do!', AR: 'من نحن، وما هي مجالات عملنا'}"></span>
    <div class="title-hr"></div>
    <p class="story-script" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: 'شبكة الأقران للشباب تعمل في مصر منذ أواخر عام 2005، ومنذ ذلك الحين تقوم الشبكة بعدة خطوات لإنشاء شبكة من الجمعيات الأهلية على عدة مستويات قومية ودولية.فهي تهتم ببناء المهارات و إكساب الخبرات المتعددة لأعضاء الشبكة عن طريق التدريبات المختلفة وتقدم لهم تقن'}"></p>
    <p class="story-script-two" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: 'هى مبادرة شبابية أطلقها صندوق الأمم المتحدة للسكان دوليا منذ عام 2002 وبدأ العمل بها في مصر بعام 2005، وكان مبدأ عقد الشراكات الفعَّاله والتشبيك مع الهيئات والمنظمات الأخري من الركائز الأساسية الداعمة دوما للشبكة علي مر تاريخها '}"></p>
  </div>
</div>
