<div class="reset-password">
  <p class="title" [translateLocal]="{EN:'Reset your password',AR:'اعد ضبط كلمه السر'}"></p>
  <form [formGroup]="resetPasswordForm">
    <div class="form-field-container">
      <p [translateLocal]="{EN: 'New password', AR: 'كلمة المرور الجديدة '}"></p>
      <mat-form-field appearance="outline">
        <input matInput type="password" name="password" class="password" formControlName="password"
               placeholder="********">
      </mat-form-field>
      <mat-error [translateLocal]="{EN:'Password must be between 10 to 20 characters.',AR:'يجب أن تتكون كلمة المرور من 10 إلى 20 حرفًا.'}" *ngIf="resetPasswordForm.get('password').errors?.minlength">

      </mat-error>
      <mat-error [translateLocal]="{EN:' Password must be At least one capital letter, At least one special character and At least one number.',AR:'يجب أن تكون كلمة المرور حرفًا كبيرًا واحدًا على الأقل وحرفًا خاصًا واحدًا على الأقل ورقمًا واحدًا على الأقل'}" *ngIf="resetPasswordForm.get('password').hasError('pattern')">
      </mat-error>
      <mat-error [translateLocal]="{EN:'This field is required',AR:'هذا الحقل مطلوب'}"
                 *ngIf="resetPasswordForm.get('password').touched && resetPasswordForm.get('password').errors?.required">
      </mat-error>
    </div>
    <div class="form-field-container">
      <p [translateLocal]="{EN: 'Repeat new password', AR: 'اعد ادخال كلمة المرور الجديدة'}"></p>
      <mat-form-field appearance="outline">
        <input matInput type="password"  name="passwordTwo" class="password" formControlName="rePassword"
               [placeholder]="isArabic ? '******** ' : '********'">
      </mat-form-field>
      <mat-error [translateLocal]="{EN:'Passwords must match.',AR:'يجب أن تتطابق كلمات المرور.'}" *ngIf="resetPasswordForm.get('rePassword').errors?.MustMatch">
      </mat-error>
      <mat-error [translateLocal]="{EN:'This field is required',AR:'هذا الحقل مطلوب'}"
                 *ngIf="resetPasswordForm.get('rePassword').touched && resetPasswordForm.get('rePassword').errors?.required">
      </mat-error>
    </div>
    <div class="d-flex justify-content-center ">
      <button [disabled]="!resetPasswordForm.valid" [ngClass]="{'disabled':!resetPasswordForm.valid == true}"
              (click)="submitResetPasswordForm();" [translateLocal]="{EN: ' Submit', AR: 'إرسال '}"></button>
    </div>
    <div *ngIf="passwordIsSent" class="d-flex justify-content-center">
      <div class="alert alert-success" [translateLocal]="{EN: 'Your password has been changed successfully, You can login now',
       AR: 'لقد تم تعديل كلمة السر بنجاح، يمكنك تسجيل الدخول الآن'}"></div>
    </div>
  </form>
</div>
