<app-details-top-banner [detailsImageBanner]="'assets/images/details-banner.png'"
                        [label]="{EN: 'Events', AR: 'الاحداث'}"
                        [title]="{EN: 'Event Title (Long Long Title) Lorem Ipsum Dolor Sit Amet', AR: 'الاحداث'}"></app-details-top-banner>
<div class="news-details-page-content">
  <div class="news-details-story">
    <app-news-details-story></app-news-details-story>
    <app-news-details-might-like [cardDetails]="cardDetails"></app-news-details-might-like>
  </div>
  <div class="categories-and-tags">
    <div class="categories-list">
      <div class="social-icons-container">
        <p>Share</p>
        <app-footer-social></app-footer-social>
      </div>
      <div class="d-flex justify-content-between">
        <h2 [translateLocal]="{EN: 'CATEGORIES', AR: 'التصنيفات'}"></h2>
      </div>
      <app-news-details-categories [categoriesList]="categoriesList"></app-news-details-categories>
    </div>
    <app-news-details-latest [latestItems]="newsLatest"></app-news-details-latest>
    <div class="tags-list">
      <h2 [translateLocal]="{EN: 'TAGS', AR: 'العلامات'}"></h2>
      <app-news-details-tags [tagsList]="tagsList"></app-news-details-tags>
    </div>
  </div>
</div>
