.section{
  mat-card{
    box-shadow: none !important;
    padding: 0;
    border-radius: 0;
    mat-card-header{
      overflow: hidden;
      min-height: 70px !important;
      background-color: #EFEFEF !important;

      .mat-card-header-text {
        margin: 0;
        width: 0;
        height: 0;
        display: none;
      }

      .section-number {
        width: 70px;
        background-color: black;

        h2 {
          margin: 0;
          padding: 0;
          color: #ffffff;
        }
      }
      .section-title {
        margin: 0 10px;
        text-align: center;
        width: 100%;
        color: #ffffff !important;

        h3 {
          color: #000000 !important;
          margin: 0;
          padding: 0;
          font-weight: 600;
          font-size: 1.2em;
        }
      }
    }
    mat-card-content{
      overflow-x: hidden;
    }
  }
}
