.navbar {
  background-color: white !important;
  height: 83px;
@media (max-width: 500px) {
  height: auto;
}
  .navbar-brand {
    width: 255px;
    @media (max-width: 500px) {
      width: 75%;
    }

    .ybeer-logo {
      width: 40%;
      height: 4%;
    }
  }

  @media (max-width: 500px) {
    .navbar-brand {
      img {
        //width: 170px;
      }
    }
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
}

.nav-link {
  font-size: 15px;
  color: #2e2e2e !important;
  text-transform: uppercase;
  border-bottom: 4px solid #FFFFFF;
  padding-right: 13px !important;
  padding-left: 13px !important;
  padding-top: 11px;
}

.nav-link:hover, .active-link {
  border-bottom: 4px solid #ff7900 !important;
}

.dropdown-item {
  font-size: 14px;
  color: #2e2e2e !important;
}

.lang-link:hover {
  border: none !important;
}

.language-button {
  font-size: 12px;
  font-weight: bold;
  border: none;
  background: transparent;
  padding-left: 8px;
  @media(max-width: 768px) {
    border-left: 0;
    border-right: 0;
    padding-left: 0;
  }

}

.user {
  width: 108px;
  height: 37px;
  background-color: #673bb8;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #FFFFFF;
    margin-bottom: 0;
  }
}

.user {
  width: 108px;
  height: 37px;
  background-color: #673bb8;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #FFFFFF;
    margin-bottom: 0;
  }
}

.ypeer-btn {
  padding: 4px 25px;
  height: 38px;
  font-size: 14px;
  margin: 0 10px;
}

.logout-icon {
  i {
    font-size: 20px;
    color: #673bb8;
    margin: 0 6px;
  }
}

[dir = ltr] {
  .navbar {
    .navbar-brand {
      .ybeer-logo {
        margin-left: 15px;
      }
    }

    .language-button {
      border-left: 2px solid #2e2e2e;
      @media(max-width: 768px) {
        border-left: 0;
        border-right: 0;
      }
    }
  }
}

[dir = rtl] {
  .navbar {
    .navbar-brand {
      .ybeer-logo {
        margin-right: 15px;
        margin-left: 15px;

      }
    }

    .language-button {
      border-right: 2px solid #2e2e2e;
      @media(max-width: 768px) {
        border-left: 0;
        border-right: 0;
      }
    }
  }

  .nav-link {
    font-size: 14px;
    font-family: 'DroidKufiBold', sans-serif;
  }

  @media (max-width: 1200px) and (min-width: 980px) {
    .nav-link {
      font-size: 12px;
    }
  }

  .dropdown-menu {
    text-align: right;
  }
}

.nav-item:hover > .dropdown-menu {
  display: block;
}
