.search {
  .search-container {
    padding: 0 46px 0 56px;

    .title-container {
      padding: 0 0 72px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media(max-width: 767px) {
        flex-direction: column;
      }

      h3 {
        font-family: 'TradeGothic', sans-serif;
        font-size: 32px;
        font-weight: bold;
        color: #2e2e2e;
        @media (max-width: 991px) {
          font-size: 20px;
          text-align: center;
        }
      }

      p {
        font-family: 'TradeGothic', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #929292;

        span {
          font-family: 'TradeGothic', sans-serif;
          font-size: 16px;
          font-weight: bold;
          color: #929292;
          padding-right: 11px;
        }
        .result-number {
          color: #4e4e4e;
          font-size: 18px;
        }
      }
    }
  }

  .result {
    margin-bottom: 48px;
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .pagination {
    margin-bottom: 36px;

    .first-btn, .prev-btn, .next-btn, .last-btn {
      width: 59px;
    }

    .first-btn, .prev-btn, .next-btn, .last-btn, .number-btn {
      height: 32px;
      font-family: 'TradeGothic', sans-serif;
      font-size: 14px;
      font-weight: bold;
      color: #2e2e2e;
      border: solid 1px #e0e0e0;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;
      cursor: pointer;
    }

    .number-btn {
      width: 32px;
    }
    .active {
      width: 32px;
      height: 32px;
      color: #ffffff;
      background: #673bb8;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .pages-showing {
    font-family: 'TradeGothic', sans-serif;
    font-size: 14px;
    color: #929292;
  }

  .no-result-container {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

::ng-deep [dir=rtl] .mat-radio-label {
  margin-right: 0 !important;
  margin-left: 24px;
}

::ng-deep [dir=rtl] .mat-radio-label-content {
  padding-left: 0 !important;
  margin-left: 4px;
  margin-right: 0 !important;
}

::ng-deep [dir=rtl] .search-top-banner {
  .banner-text {
    right: 127px;
  }
}
