<div class="search">
  <app-search-top-banner></app-search-top-banner>
  <div class="search-container">
    <div class="title-container">
      <h3>Search Results for : "Reproductive Health"</h3>
      <p><span>10</span>Results found</p>
    </div>
    <div class="result">
      <app-result-item [tagsList]="tags" [details]="details"></app-result-item>
    </div>
    <div class="pagination ">
      <div class="first-btn">First</div>
      <div class="prev-btn ">prev</div>

      <div class="number-btn" *ngFor="let pageNumber of pageNumbers;" >{{pageNumber}}</div>

      <div class=" next-btn">Next</div>
      <div class="last-btn ">Last</div>
    </div>
    <p class="pages-showing">Showing page 1 of 8 - Items 1 - 6 of 40</p>
  </div>
</div>
