<div class="search">
  <app-search-top-banner (searchClicked)="search($event)"></app-search-top-banner>
  <div *ngIf="searchResults" class="search-container">
    <div class="title-container">
      <h3 *ngIf="searchResults">Search Results for : "{{searchWord}}"</h3>
      <p><span>{{resultList.length}}</span>Results found</p>
    </div>
    <div class="result">
      <app-result-item [tagsList]="tags" [details]="resultList" [start]="0" [end]="2"></app-result-item>
    </div>
    <button (click)="search()">load more</button>
<!--    <div class="pagination">-->
<!--      <div (click)="first()" class="first-btn">First</div>-->
<!--      <div (click)="prev()" class="prev-btn ">prev</div>-->

<!--      <div class="number-btn" *ngFor="let pageNumber of pageNumbers; let i = index"-->
<!--           (click)='changeNumber(pageNumber)'>-->
<!--        <a [ngClass]="{'active':currentPage==pageNumber}" class="">-->
<!--          {{pageNumber}}-->
<!--        </a>-->
<!--      </div>-->

<!--      <div (click)="next()" class=" next-btn">Next</div>-->
<!--      <div (click)="last()" class="last-btn ">Last</div>-->
<!--    </div>-->
<!--    <p class="pages-showing">Showing page 1 of 8 - Items 1 - 6 of 40</p>-->
  </div>
</div>
