<app-page-top-banner [imageSrc]="'assets/images/events-banner.png'"></app-page-top-banner>
<div class="events-page-content">
  <div class="events-list">
    <app-events-list *ngIf="eventsList" [eventsLists]="eventsList" (loadMoreClicked)="getEventsData()" [showLoadMoreButton]="showLoadMore" ></app-events-list>
  </div>
  <div class="categories-and-tags">
    <div class="categories-list">
      <div class="d-flex justify-content-end">
        <a (click)="clearData()" [translateLocal]="{EN: 'clear', AR: 'مسح'}"></a>
      </div>
      <app-events-categories (eventFilterClicked)="getSelectedEventsList($event)" [categoriesList]="categoriesList"></app-events-categories>
    </div>
    <div class="tags-list">
      <h2 *ngIf="eventsData" [translateLocal]="{EN: 'TAGS', AR: 'العلامات'}"></h2>
      <app-events-tags (tagClicked)="filterByTag($event)"  *ngIf="eventsData" [tagsList]="eventsData.tags"></app-events-tags>
    </div>
  </div>
</div>
