<app-page-top-banner [imageSrc]="'assets/images/events-banner.png'"></app-page-top-banner>
<div class="events-page-content">
  <div class="events-list">
    <app-events-list *ngIf="eventsData" [eventsLists]="eventsData.eventsList"></app-events-list>
  </div>
  <div class="categories-and-tags">
    <div class="categories-list">
      <app-events-categories [categoriesList]="categoriesList"></app-events-categories>
    </div>
    <div class="tags-list">
      <h2 *ngIf="eventsData" [translateLocal]="{EN: 'TAGS', AR: 'العلامات'}"></h2>
      <app-events-tags *ngIf="eventsData" [tagsList]="eventsData.tags"></app-events-tags>
    </div>
  </div>
</div>
