.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 17.2px 0;
  border-top: 0 solid transparent;
}
.mat-form-field-type-mat-select {

  .mat-form-field-infix {
    padding: 14px 0;
  }

  .mat-select-value-text , .mat-select-placeholder {
    line-height: 1.5;
  }

}
