<div class="quiz-page">
  <div *ngIf="!quizStarted" class="start-page">
    <div class="quiz-name" [translateLocal]="{EN: 'Introductory Course Assessment', AR: 'امتحان الكورس التقديمي'}"></div>
    <div class="questions-num">
      {{questions.length}}
      <span [translateLocal]="{EN: 'Questions', AR: 'اسئلة'}"></span>
    </div>
    <p *ngIf="disabled" [translateLocal]="{EN: 'you have to get 90% or more of course progress to open the exam', AR: 'امتحان الكورس التقديمي'}"></p>
    <button [disabled]="questions.length == 0 || disabled" class="ypeer-btn-purple start-quiz-btn" [translateLocal]="{EN: 'Start Quiz', AR: 'ابدأ الامتحان'}" (click)="startQuiz()"></button>
  </div>

  <div *ngIf="quizStarted" class="quiz-content">
    <app-quiz-question [questions]="questions" [currentQuestion]="currentQuestion" [currentQuestionIndex]="currentQuestionIndex"
                       (sendAnswer)="getAnswers()"></app-quiz-question>
    <app-quiz-nav-bar [currentQuestionIndex]="currentQuestionIndex" [numberOfQuestions]="questions.length"
                      (nextClicked)="getNextQuestion()" (previousClicked)="getPreviousQuestion()" (finishQuizClicked)="submitAnswers()">
    </app-quiz-nav-bar>
  </div>
</div>
