<div class="quiz-page">
  <div *ngIf="!quizStarted" class="start-page">
    <div class="quiz-name">Introductory Course Assessment</div>
    <div class="questions-num">10 Questions</div>
    <button class="ypeer-btn-purple start-quiz-btn" (click)="startQuiz()">Start Quiz</button>
  </div>

  <div *ngIf="quizStarted" class="quiz-content">
    <app-quiz-question [questions]="questions" [currentQuestion]="currentQuestion"></app-quiz-question>
    <app-quiz-nav-bar [currentQuestionIndex]="currentQuestionIndex" [numberOfQuestions]="questions.length"
                      (nextClicked)="getNextQuestion()" (previousClicked)="getPreviousQuestion()">
    </app-quiz-nav-bar>
  </div>
</div>
