<app-page-top-banner [imageSrc]="'assets/images/events-banner.png'"></app-page-top-banner>
<div class="story-page-content">
  <div class="story-list">
    <app-story-list [storyLists]="storyList"></app-story-list>
  </div>
  <div class="categories-and-tags">
    <div class="categories-list">
      <div class="d-flex justify-content-between">
        <h2>CATEGORIES</h2>
        <a>clear</a>
      </div>      <app-story-categories [categoriesList]="categoriesList"></app-story-categories>
    </div>
    <div class="tags-list">
      <h2>TAGS</h2>
      <app-story-tags [tagsList]="tagsList"></app-story-tags>
    </div>
  </div>
</div>
