.card-container {
  width: 20%;
  height: 273px;
  display: inline-block;
  background-size: cover;
  .card-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 106px;
  }
}

@media (max-width: 426px) {
  .card-container {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 1250px){
  .card-container {
    width: 33.33%;
  }
}
