<div class="list-container">
  <app-image-description-card *ngFor="let publicationsList of publicationsLists"
                              [imageSrc]="publicationsList.image" [type]="publicationsList.label"
                              [title]="publicationsList.title" [date]="publicationsList.date"
                              [description]="publicationsList.description" [publications]="true">
  </app-image-description-card>
</div>
<div class="btn-container">
  <button *ngIf="showLoadMoreButton" (click)="loadMoreData()" class="ypeer-btn btn-outlined" [translateLocal]="{EN: 'Load More', AR: 'المزيد'}"></button>
</div>
