<div class="user-profile-courses"  *ngIf="myCourses">
  <a *ngFor="let course of myCourses; let i = index">
    <app-course-bar [name]="course.name"
                    [btnText]="setButtonText(course)"
                    [score]="course.score"
                    [progress]="course.progress"
                    [isArabic]="isArabic"
                    [disabled]="setDisableValue(course)"
                    [hasCertificate]="course.hasCertificate"
                    (btnClicked)="watchCourse(course)"
                    (courseClicked)="openDialog(course)">
    </app-course-bar>
  </a>
  <div class="course-status" *ngIf="!advancedCourse">
    <app-course-status [title]="advancedStatusTitle"
                       [description]="advancedStatusDescription"
                       [btnText]= "advancedStatusBtnText"
                       (enrollClicked)="enrollAdvanced()">
    </app-course-status>
  </div>
</div>
