<div class="user-profile-courses">
  <a (click)="openDialoge()">
    <app-course-bar [name]="{EN:'Introductory Course Name',AR:'اسم الدورة التمهيدية'}"
                    [btnText]="{EN:'watch course',AR:'مشاهدة الكورس'}"
                    [score]="85"
                    [percent]="20"
                    [finished]="true"
                    [advanced]="true"
    ></app-course-bar>
  </a>
  <app-course-status [title]="{EN:'Thank You!',AR:'شكرا لك'}"
                     [description]="{EN:'You have applied to the advanced course successfully. Stay tuned; we are preparing your advanced course.',AR:'لقد تقدمت إلى الدورة المتقدمة بنجاح. ابقوا متابعين؛ نحن نعد دورتك المتقدمة.'}"
                     [showBtn]="false"></app-course-status>
</div>
