<div class="title-container">
  <h3 [translateLocal]="title"></h3>
  <div class="buttons-container" *ngIf="!swiper?.isBeginning || !swiper?.isEnd">
    <button class="slider-button btn-prev" (click)="prevSlide()" [disabled]="swiper?.isBeginning">
      <img src="assets/images/icons/arrow-left-gray.png"
           [style.transform]="languageService.getIsArabic() ? 'scaleX(-1)' : ''"
           alt="arrow-left">
    </button>
    <button class="slider-button btn-next" (click)="nextSlide()" [disabled]="swiper?.isEnd">
      <img src="assets/images/icons/arrow-right-gray.png"
           [style.transform]="languageService.getIsArabic() ? 'scaleX(-1)' : ''"
           alt="arrow-right">
    </button>
  </div>
</div>
<div class="swiper__container-courses" id="courses-swiper-{{searchType}}">
  <div class="swiper__wrapper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let result of searchResults">
          <app-result-card [result]="result" [searchType]="searchType"></app-result-card>
        </div>
        <div class="swiper-slide">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
