<ul class="sub-footer-menu">
  <li>
    <a [routerLink]="'about-us'" [translateLocal]="{EN: 'About', AR: 'من نحن'}"></a>
  </li>
  <li>
    <a [routerLink]="'faqs'" [translateLocal]="{EN: 'FAQs', AR: 'الأسئلة الشائعه'}"></a>
  </li>
  <li>
    <a [routerLink]="'contact-us'" [translateLocal]="{EN: 'Contact', AR: 'تواصل معنا'}"></a>
  </li>
  <li>
    <a [routerLink]="" [translateLocal]="{EN: 'Privacy Policy', AR: 'سياسة الخصوصيه'}"></a>
  </li>
  <li>
    <a [routerLink]="'terms'" [translateLocal]="{EN: 'Terms of Use', AR: 'شروط الاستخدام'}"></a>
  </li>
</ul>
