.user-profile {
  padding: 0 57px;
  ::ng-deep.mat-tab-label {
    width: 219px;
  }
  ::ng-deep.mat-tab-label .mat-tab-label-content {
    font-family: 'TradeGothic', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    color: #2e2e2e;
  }

  ::ng-deep.mat-tab-group.mat-primary .mat-ink-bar {
    height: 4px;
    background-color: #ff7900;
  }

  ::ng-deep.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: 1px solid transparent;
    margin-bottom: 49px;
    margin-top: 82.8px;
  }
}
