.user-profile {
  ::ng-deep.mat-tab-label-container {
    margin-left: 57px;
    @media(max-width: 991px) {
      margin-left: 0;
    }
  }

  ::ng-deep.mat-tab-label .mat-tab-label-content {
    font-family: 'TradeGothic', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    color: #8f8f8f;
    padding-right: 53px;
    padding-left: 20px;
  }

  ::ng-deep.mat-tab-group.mat-primary .mat-ink-bar {
    width: 219px !important;
    height: 4px;
    background-color: #ff7900;
  }

  ::ng-deep.mat-tab-header, .mat-tab-nav-bar {
    border-bottom: 1px solid transparent;
    margin-bottom: 49px;
    margin-top: 82.8px;
  }

  ::ng-deep.mat-tab-label-active {
    opacity: 1;
  }
  ::ng-deep.mat-tab-label.mat-tab-label-active .mat-tab-label-content{
    color: #2e2e2e;
    opacity: 1 !important;

  }

  @media(max-width: 600px) {
    ::ng-deep.mat-tab-header {
      .mat-tab-labels {
        display: flex;
        flex-flow: column;
        gap: 6px;
      }
      .mat-tab-label-active {
        border-bottom: 4px solid #ff7900;
      }
      .mat-tab-label-content {
        padding: 0;
      }
      .mat-tab-header-pagination, .mat-ink-bar {
        display: none;
      }

    }
  }
}


::ng-deep {
  [dir="ltr"] {
    .user-profile {
      ::ng-deep.mat-tab-group.mat-primary .mat-ink-bar {
        @media (max-width: 991px) {
          margin-left: 30px;
        }
      }
    }
  }

  [dir="rtl"] {
    .user-profile {
      ::ng-deep.mat-tab-group.mat-primary .mat-ink-bar {
        @media (max-width: 991px) {
          margin-right: 30px;
        }
      }
    }
  }
}
