.publications-page-content {
  display: flex;
  padding: 56px 46px 72px 46px;
  .publications-list {
    width: 70%;
    padding: 0 25px;
  }
  .categories-and-tags {
    width: 30%;
    padding-left: 45px;
    .categories-list, .tags-list {
      margin-bottom: 43px;
      h2 {
        font-family: 'TradeGothic', sans-serif;
        font-size: 22px;
        color: #232323;
        font-weight: bold;
        margin-bottom: 28px;
      }
      a {
        font-size: 12px;
        line-height: 1.75;
        color: #673bb8;
        text-decoration: underline;
        height: max-content;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 850px) {
  .publications-page-content {
    .categories-and-tags {
      padding-left: 5px;
    }
  }
}

@media (max-width: 767px) {
  .publications-page-content {
    flex-direction: column;
    align-items: center;
    .publications-list {
      width: 100%;
      margin-bottom: 40px;
    }
    .categories-and-tags {
      width: 60%;
      padding: 0;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .publications-page-content {
    .categories-and-tags {
      width: 90%;
    }
  }
}

@media (max-width: 500px) {
  .publications-page-content {
    .publications-list {
      padding: 0;
    }
  }
}

[dir = rtl] {
  .publications-page-content {
    .categories-and-tags {
      padding-right: 45px;
      padding-left: unset;
    }
  }
}
