<!--<app-page-top-banner [imageSrc]="'assets/images/publications-banner.png'"></app-page-top-banner>-->
<app-page-top-banner [imageSrc]="'assets/images/publication-banner2.png'"
                     [title]="{EN: 'PUBLICATIONS', AR: 'المنشورات'}">
</app-page-top-banner>
<div class="publications-page-content">
  <div class="publications-list">
    <app-publications-list *ngIf="publicationsData"  [showLoadMoreButton]="showLoadMore" (loadMoreClicked)="getPublicationsData()" [publicationsLists]="publicationsList"></app-publications-list>
  </div>
  <div class="categories-and-tags">
    <div class="categories-list">
      <div class="d-flex justify-content-between">
        <h2 [translateLocal]="{EN: 'CATEGORIES', AR: 'التصنيفات'}"></h2>
        <a (click)="clearData()" [translateLocal]="{EN: 'clear', AR: 'مسح'}"></a>
      </div>
      <app-publications-categories [categoriesList]="categoriesList" (yearClicked)="filterByYear($event)"></app-publications-categories>
    </div>
    <div class="tags-list">
      <h2 [translateLocal]="{EN: 'TAGS', AR: 'العلامات'}"></h2>
      <app-publications-tags *ngIf="publicationsData" [tagsList]="publicationsData.tags" (tagClicked)="filterByTag($event)"></app-publications-tags>
    </div>
  </div>
</div>
