<app-page-top-banner [imageSrc]="'assets/images/events-banner.png'"></app-page-top-banner>
<div class="publications-page-content">
  <div class="publications-list">
    <app-publications-list [publicationsLists]="publicationsList"></app-publications-list>
  </div>
  <div class="categories-and-tags">
    <div class="categories-list">
      <div class="d-flex justify-content-between">
        <h2>CATEGORIES</h2>
        <a>clear</a>
      </div>
      <app-publications-categories [categoriesList]="categoriesList"></app-publications-categories>
    </div>
    <div class="tags-list">
      <h2>TAGS</h2>
      <app-publications-tags [tagsList]="tagsList"></app-publications-tags>
    </div>
  </div>
</div>
