<div class="user-profile-info">
  <div class="img-container">
    <img src="assets/images/profile-info.png" alt="profile-info">
    <p>Upload Your Photo</p>
  </div>
  <form [formGroup]="userProfileForm">
    <div class="row">
      <div class="col-md-6">
        <p [translateLocal]="{EN: 'First Name', AR: 'الاسم الأول '}"></p>
        <mat-form-field appearance="outline">
          <input matInput type="text" name="firstName" class="firstName" formControlName="fName"
                 [placeholder]="isArabic ? 'اكتب اسمك الأول ' : 'Type in your first name'">
        </mat-form-field>
        <p [translateLocal]="{EN: 'Email', AR: 'بريد الالكتروني '}"></p>
        <mat-form-field appearance="outline">
          <input matInput type="email" name="email" class="email" formControlName="email"
                 [placeholder]="isArabic ? 'اكتب بريدك الإلكتروني ' : 'Type in your email'">
        </mat-form-field>

        <p [translateLocal]="{EN: 'Date of Birth', AR: 'تاريخ الولادة'}"></p>
        <div class="d-flex justify-content-between" style="width: 78%;">
          <mat-form-field appearance="outline" class="birthday-form">
            <mat-select [placeholder]="isArabic ? 'اليوم ' : 'days'" formControlName="days">
              <mat-option *ngFor="let item of days ;" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="birthday-form">
            <mat-select [placeholder]="isArabic ? 'الشهر ' : 'months'" formControlName="months">
              <mat-option *ngFor="let item of months ;" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="birthday-form">
            <mat-select [placeholder]="isArabic ? 'السنه ' : 'years'" formControlName="years">
              <mat-option *ngFor="let item of years ;" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <p [translateLocal]="{EN: 'Education Level', AR: 'مستوى التعليم'}"></p>
        <mat-form-field appearance="outline">
          <mat-select [placeholder]="isArabic ? 'اختار ' : 'select'" formControlName="education">
            <mat-option *ngFor="let item of education ;" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <p [translateLocal]="{EN: 'Last Name', AR: 'الاسم الأخير '}"></p>
        <mat-form-field appearance="outline">
          <input matInput type="text" name="lastName" class="lastName" formControlName="lName"
                 [placeholder]="isArabic ? 'اكتب اسمك الاخير ' : 'Type in your last name'">
        </mat-form-field>
        <p [translateLocal]="{EN: 'Phone', AR: 'رقم الهاتف'}"></p>
        <mat-form-field appearance="outline">
          <input matInput type="text" name="phone" class="phone" formControlName="phone"
                 [placeholder]="isArabic ? 'اكتب رقم هاتفك ' : 'Type in your Phone Number'">
        </mat-form-field>
        <p [translateLocal]="{EN: 'Sex', AR: 'الجنس'}"></p>
        <mat-form-field appearance="outline">
          <mat-select [placeholder]="isArabic ? 'جنس' : 'gender'" formControlName="gender">
            <mat-option *ngFor="let item of gender ;" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p [translateLocal]="{EN: 'First Name', AR: 'الاسم الأول '}">Occupation</p>
        <mat-form-field appearance="outline">
          <input matInput type="text" name="occupation" class="occupation" formControlName="occupation"
                 [placeholder]="isArabic ? 'اكتب في مهنتك ' : 'Type in your occupation'">
        </mat-form-field>

      </div>
      <div class="d-flex justify-content-end ">
        <button [disabled]="!userProfileForm.valid"
                (click)="submitUserProfileForm()"
                [translateLocal]="{EN: ' Save', AR: 'حفظ '}"></button>
      </div>
    </div>

  </form>
</div>
