.user-profile-info {
  .img-container {
    margin: auto;
    text-align: center;
    p{
      font-family: 'TradeGothic', sans-serif;
      font-size: 14px;
      color: #2e2e2e;
      text-align: center;
      margin: 16px 0 53px;
    }
  }
}
