<div class="sign-up-form-container">
  <p class="title" [translateLocal]="{EN: ' JOIN US', AR: 'انضم إلينا '}"></p>
  <div class="sign-up-form">
    <p class="sub-title" [translateLocal]="{EN: ' * All fields are mandatory', AR: '* كل الحقول إلزامية '}"></p>
    <form [formGroup]="signUpForm">
      <div class="form-container d-flex justify-content-center">
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'First Name', AR: 'الاسم الأول '}"></p>
          <mat-form-field appearance="outline">
            <input matInput type="text" name="firstName" class="firstName" formControlName="firstName"
                   [placeholder]="isArabic ? 'اكتب اسمك الأول ' : 'Type in your first name'">
          </mat-form-field>
          <mat-error [translateLocal]="{EN:'name must not contain number ,special charachter.',AR:'يجب ألا يحتوي الاسم على رقم أو حرف خاص.'}" *ngIf="signUpForm.get('firstName').hasError('pattern')">
          </mat-error>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Last Name', AR: 'الاسم الأخير '}"></p>
          <mat-form-field appearance="outline">
            <input matInput type="text" name="lastName" class="lastName" formControlName="lastName"
                   [placeholder]="isArabic ? 'اكتب اسمك الاخير ' : 'Type in your last name'">
          </mat-form-field>
          <mat-error [translateLocal]="{EN:'name must not contain number ,special charachter.',AR:'يجب ألا يحتوي الاسم على رقم أو حرف خاص.'}" *ngIf="signUpForm.get('lastName').hasError('pattern')">
          </mat-error>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Email', AR: 'البريد الاكتروني '}"></p>
          <mat-form-field appearance="outline">
            <input matInput type="email" name="email" class="email" formControlName="email"
                   [placeholder]="isArabic ? 'اكتب بريدك الإلكتروني ' : 'Type in your email'">
          </mat-form-field>
          <mat-error [translateLocal]="{EN:'enter a valid email.',AR:'أدخل بريد إلكتروني صحيح.'}" *ngIf="signUpForm.get('email').hasError('pattern')">
          </mat-error>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Phone', AR: 'رقم الهاتف'}"></p>
          <mat-form-field appearance="outline">
            <input matInput type="text" name="phone" class="phone" formControlName="phone"
                   [placeholder]="isArabic ? 'اكتب رقم هاتفك ' : 'Type in your Phone Number'">
          </mat-form-field>
          <mat-error  [translateLocal]="{AR: 'من فضلك ادخل رقم المحمول صالح', EN: 'Please enter a valid phone number'}" *ngIf="signUpForm.get('phone').hasError('pattern')">
          </mat-error>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Password', AR: 'كلمة المرور  '}"></p>
          <mat-form-field appearance="outline">
            <input matInput type="password" [(ngModel)]="password" name="password" class="password" formControlName="password"
                   placeholder="********">
          </mat-form-field>
          <mat-error [translateLocal]="{EN:'Password must be at least 10 characters .',AR:'يجب أن تتكون كلمة المرور من 10 أحرف على الأقل.'}" *ngIf="signUpForm.get('password').errors?.minlength">

          </mat-error>
          <mat-error [translateLocal]="{EN:' Password is weak , must contain capital , number ,special charachter.',AR:'كلمة المرور ضعيفة ، يجب أن تحتوي على حرف كبير ، رقم ، حرف خاص.'}" *ngIf="signUpForm.get('password').hasError('pattern')">
          </mat-error>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Retype Password', AR: 'اعد ادخال كلمة المرور'}"></p>
          <mat-form-field appearance="outline">
            <input matInput type="password" [(ngModel)]="rePassword"  name="passwordTwo" class="password" formControlName="rePassword"
                   [placeholder]="isArabic ? '******** ' : '********'">

          </mat-form-field>
          <mat-error [translateLocal]="{EN:'Passwords must match.',AR:'يجب أن تتطابق كلمات المرور.'}" *ngIf="signUpForm.get('rePassword').errors?.MustMatch">

          </mat-error>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Sex', AR: 'الجنس'}"></p>
          <mat-form-field appearance="outline">
            <mat-select [placeholder]="isArabic ? 'جنس' : 'gender'" formControlName="genderId">
              <mat-option *ngFor="let item of gender ;let i = index"
                          [value]="item.id">{{isArabic ? item.arabicName : item.englishName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Date of Birth', AR: 'تاريخ الميلاد'}"></p>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="basicDatepicker"
                   formControlName="birthDate" datePickerFormat="YYYY/MM/DD"
                   [placeholder]="isArabic ? 'ادخل تاريخ الميلاد ' : 'enter your birthday'">
            <mat-datepicker-toggle matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker></mat-datepicker>
          </mat-form-field>
          <!--          <div class="d-flex justify-content-between">-->
          <!--          <mat-form-field appearance="outline" class="birthday-form">-->
          <!--            <mat-select  [placeholder]="isArabic ? 'اليوم ' : 'days'"  formControlName="days">-->
          <!--              <mat-option *ngFor="let item of days ;" [value]="item">{{item}}</mat-option>-->
          <!--            </mat-select>-->
          <!--          </mat-form-field>-->
          <!--            <mat-form-field appearance="outline" class="birthday-form">-->
          <!--              <mat-select  [placeholder]="isArabic ? 'الشهر ' : 'months'"  formControlName="months">-->
          <!--                <mat-option *ngFor="let item of months ;" [value]="item">{{item}}</mat-option>-->
          <!--              </mat-select>-->
          <!--            </mat-form-field>-->
          <!--            <mat-form-field appearance="outline" class="birthday-form">-->
          <!--              <mat-select [placeholder]="isArabic ? 'السنه ' : 'years'" formControlName="years">-->
          <!--                <mat-option *ngFor="let item of years ;" [value]="item">{{item}}</mat-option>-->
          <!--              </mat-select>-->
          <!--            </mat-form-field>-->
          <!--          </div>-->
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Marital Status', AR: 'الحالة الاجتماعية '}"></p>
          <mat-form-field appearance="outline">
            <mat-select [placeholder]="isArabic ? 'الحالة' : 'status'" formControlName="maritalStatusId">
              <mat-option *ngFor="let item of status ; let i = index;"
                          [value]="item.id">{{isArabic ? item.arabicName : item.englishName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Governorate', AR: 'المحافظة '}"></p>
          <mat-form-field appearance="outline">
            <mat-select [placeholder]="isArabic ? 'محافظة ' : 'governorate'" formControlName="governorateId">
              <mat-option *ngFor="let item of governorate ; let i=index;"
                          [value]="item.id">{{isArabic ? item.arabicName : item.englishName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Education Level', AR: 'مستوى التعليم'}"></p>
          <mat-form-field appearance="outline">
            <mat-select [placeholder]="isArabic ? 'اختار ' : 'select'" formControlName="educationalLevelId">
              <mat-option *ngFor="let item of education ; let i=index;"
                          [value]="item.id">{{isArabic ? item.arabicName : item.englishName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field-container">
          <p [translateLocal]="{EN: 'Occupation', AR: 'المهنة '}"></p>
          <mat-form-field appearance="outline">
            <input matInput type="text" name="occupation" class="occupation" formControlName="occupation"
                   [placeholder]="isArabic ? 'اكتب في مهنتك ' : 'Type in your occupation'">
          </mat-form-field>
        </div>
      </div>
      <p
        [translateLocal]="{EN: '** We have limited seats; your application would be under assessment. We will notify you once your account is approved.', AR: '** مقاعدنا محدودة. سيكون طلبك قيد التقييم. سنقوم بإخطارك بمجرد الموافقة على حسابك. '}"
        class="note"></p>
      <div class="d-flex justify-content-center ">
        <button [disabled]="!signUpForm.valid" [ngClass]="{'disabled':!signUpForm.valid == true}"
                (click)="submitSignUpForm();" [translateLocal]="{EN: ' Submit', AR: 'إرسال '}"></button>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <p class="no-account-text" [translateLocal]="{EN: 'Already have an account?', AR: 'ليس لديك حساب؟'}"></p>
        <a [routerLink]="'/signIn'" class="sign-in-link" [translateLocal]="{EN: 'Sign In', AR: 'تسجيل الدخول'}"></a>
      </div>
    </form>
    <div>
      <p class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</p>
    </div>
  </div>
</div>
