.sign-up-form-container {
  .title {
    font-family: 'TradeGothic', sans-serif !important;
    font-size: 32px;
    font-weight: bold;
    color: #2e2e2e;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 10px;
  }

  .sign-up-form {
    padding: 0 40px;
    .sub-title {
      font-family: 'TradeGothic', sans-serif !important;
      font-size: 12px;
      font-style: italic;
      color: #2e2e2e;
      padding-bottom: 16px;
    }
  }
}
