<div class="search-top-banner">
  <img src="assets/images/search-banner.png" alt="top-banner">
  <div class="banner-text">
    <p [translateLocal]="{EN:'Search',AR:'بحث'}"></p>
    <div class="header-search form-container">
      <form action="">
        <input [placeholder]="isArabic ? 'إبحث' : 'search'"
               placeholder=""
               type="text"
               aria-label="Search"
               name="search"/>
        <button>
          <img src="assets/images/search-icon.png" alt="icon">
        </button>
      </form>
    </div>
    <div class="radio-btn-container">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1" class="first">All</mat-radio-button>
      <mat-radio-button value="2">News</mat-radio-button>
      <mat-radio-button value="3">Events</mat-radio-button>
      <mat-radio-button value="4">Stories</mat-radio-button>
      <mat-radio-button value="5">Publications</mat-radio-button>
      <mat-radio-button value="6">Training Manuals</mat-radio-button>
    </mat-radio-group>
    </div>
  </div>
</div>

<!--<mat-radio-button value="1" class="first" [translateLocal]="{EN:'All',AR:'الجميع'}"></mat-radio-button>-->
<!--<mat-radio-button value="2" [translateLocal]="{EN:'News',AR:'أخبار'}"></mat-radio-button>-->
<!--<mat-radio-button value="3" [translateLocal]="{EN:'Events',AR:'الأحداث'}"></mat-radio-button>-->
<!--<mat-radio-button value="4" [translateLocal]="{EN:'Stories',AR:'القصص'}"></mat-radio-button>-->
<!--<mat-radio-button value="5" [translateLocal]="{EN:'Publications',AR:'المنشورات'}"></mat-radio-button>-->
<!--<mat-radio-button value="6" [translateLocal]="{EN:'Training Manuals',AR:'كتيبات التدريب'}"></mat-radio-button>-->
