<div class="question-container">
  <div class="question-title">{{currentQuestion.title}}</div>
  <div class="question-body">{{currentQuestion.body}}</div>
  <div *ngIf="currentQuestion.type == 'true&false'" class="true-false-answers">
    <mat-radio-group [value]="currentQuestion.selectedAnswer" >
      <mat-radio-button (click)="sendAnswers('true')" value="true">True</mat-radio-button>
      <mat-radio-button (click)="sendAnswers('false')" value="false">False</mat-radio-button>
    </mat-radio-group>
  </div>

  <div *ngIf="currentQuestion.type == 'multiple'" class="multiple-answers">
   <mat-checkbox [checked]="answer.selected" *ngFor="let answer of currentQuestion.answers"
                 (change)="sendAnswers($event, answer)">{{answer.body}}</mat-checkbox>
  </div>
</div>
