<ngx-slick-carousel #bannersSlickModal="slick-carousel" [config]="bannerConfig" *ngIf="slides">
  <div class="slider-container" ngxSlickItem *ngFor="let slide of slides">
    <div class="slider-item">
      <div class="banner-image">
        <img src="{{ slide.image }}" alt="">
      </div>
      <div class="banner-overlay">
        <div class="container">
          <div class="text-container">
            <div class="head-line"><h1 [translateLocal]="slide.headTitle"></h1></div>
            <div class="sub-title"><h2 [translateLocal]="slide.subtitle"></h2></div>
            <div class="text" [translateLocal]="slide.text"></div>
            <div class="slider-buttons-container">
              <button class="ypeer-btn btn-outlined" [routerLink]="'/about-us'" [translateLocal]="{AR: 'اكتشف اكثر', EN: 'Discover More'}"></button>
              <button class="ypeer-btn btn-full-color" [translateLocal]="{AR: 'انضم للبرنامج', EN: 'Join The Program'}"></button>
            </div>
          </div>
        </div>
      </div>
      <button class="slider-button btn-next" (click)="next()"><img [deploySrc]="'assets/images/icons/arrow-right.png'" alt="arrow-right"></button>
      <button class="slider-button btn-prev" (click)="prev()"><img [deploySrc]="'assets/images/icons/arrow-left.png'" alt="arrow-left"></button>
    </div>
  </div>
</ngx-slick-carousel>
