.buttons-container {
  position: relative;

  .slider-button {
    background: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    bottom: 600px;
  }

  .btn-next {
    right: 46px;
  }

  .btn-prev {
    right: 84px;
  }
}

[dir = rtl] .buttons-container {
  .btn-prev {
    left: 46px;
    right: auto;
  }

  .btn-next {
    left: 84px;
    right: auto;
  }
}

@media (max-width: 500px) {
  .buttons-container {
    .slider-button {
      bottom: 570px;
    }

    .btn-next {
      right: 10%;
    }

    .btn-prev {
      right: 20%;
    }
  }
}

@media (max-width: 390px) {
  .buttons-container {
    .slider-button {
      bottom: 615px;
    }
  }
  }
  @media (max-width: 370px) {
    .buttons-container {
      .slider-button {
        bottom: 550px;
      }
    }
  }

  @media (max-width: 330px) {
    .buttons-container {
      .slider-button {
        bottom: 520px;
      }
    }
  }
app-image-description-card {
  cursor: pointer;
}
