<div class="about-unfpa-section">
  <div class="about-unfpa-image-container">
    <img [deploySrc]="'assets/images/about-unfpa-image1.png'" alt="about-unfpa">
  </div>
  <div class="about-unfpa-container">
    <h2 class="about-unfpa-title" [translateLocal]="{EN: 'About UNFPA', AR: 'عن UNFPA'}"></h2>
    <div class="title-hr"></div>
    <p class="about-unfpa-script" [translateLocal]="{EN: 'UNFPA is formally named the United Nations Population Fund. The organization was created in 1969, the same year the United Nations General Assembly declared “parents have the exclusive right to determine freely and responsibly the number and spacing of their children.', AR: 'تسعى الشبكة لتمكين الشباب من المشاركة الفعالة في اتخاذ القرار الصحيح فيما يخص مجال الصحة والمواءمة الإجتماعية عن طريق توفير المعلومات والتدريبات على المهارات اللازمة من أجل مستقبل أفضل للمجتمع.'}"></p>
    <p class="about-unfpa-script-two" [translateLocal]="{EN: 'UNFPA calls for the realization of reproductive rights for all and supports access to a wide range of sexual and reproductive health services – including voluntary family planning, maternal health care and comprehensive sexuality education.', AR: 'تعزيز المهارات والمعلومات للشباب نحو الموضوعات الخاصة بالصحة الإنجابية والمساواة بين الجنسين وتمكين المرأة؛ هو ما تسعى الشبكة لإيصاله للفئات المستهدفة.'}"></p>
  <a class="about-unfpa-url" href="https://www.unfpa.org/" target="_blank">www.unfpa.org</a>
    <div class="about-unfpa-social-media">
    <app-footer-social [facebook]="'https://www.facebook.com/UnfpaEgypt'" [instagram]="'https://www.instagram.com/unfpaegypt/'" [twitter]="'https://twitter.com/UnfpaEgypt'"></app-footer-social>
    </div>
  </div>
</div>
