<footer class="footer-section" id="footer-section">
  <div class="footer-container">
    <div class="left-section footer-inner-section">
      <img src="assets/images/ypeer-logo-footer.png" alt="footer-logo">
    </div>
    <div class="middle-section footer-inner-section">
      <p><strong>Y-PEER</strong> is a groundbreaking and comprehensive network of more than 500 non-profit organizations and governmental institutions; its membership includes thousands of young people who work in the many areas surrounding sexual and reproductive health.</p>
    </div>
    <div class="right-section footer-inner-section">
      <h6>Follow Us</h6>
      <app-footer-social></app-footer-social>
    </div>
  </div>
</footer>
