<footer class="footer-section" id="footer-section">
  <div class="footer-container">
    <div class="left-section footer-inner-section">
      <img [deploySrc]="'assets/images/footer-logo1.png'"  alt="footer-logo" [routerLink]="">
      <div class="left-section-social-media">
        <h6 [translateLocal]="{EN: 'Follow Us', AR: 'تابعونا'}"></h6>
        <app-footer-social [youtype]="'https://www.youtube.com/c/YPEEREgypt'"></app-footer-social>
      </div>
    </div>
    <div class="middle-section footer-inner-section">
      <p>
        <strong [translateLocal]="{EN: 'Y-PEER ', AR: 'لوريم ايبسوم '}"></strong>
        <span
          [translateLocal]="{EN: 'is a groundbreaking and comprehensive network of more than 500 non-profit organizations and governmental institutions; its membership includes thousands of young people who work in the many areas surrounding sexual and reproductive health.', AR: 'دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور.'}"></span>
      </p>
    </div>
    <div class="right-section footer-inner-section">
      <a href="https://egypt.unfpa.org/en" target="_blank">
        <img [deploySrc]="'assets/images/UNFPA_logo.svg'" width="151.3px" height="70.3px" alt="footer-logo" [routerLink]="">
      </a>
      <h6 [translateLocal]="{EN: 'Follow UNFPA', AR: 'تابع UNFPA '}"></h6>
      <app-footer-social [facebook]="'https://www.facebook.com/UnfpaEgypt'" [instagram]="'https://www.instagram.com/unfpaegypt/'" [twitter]="'https://twitter.com/UnfpaEgypt'" [youtype]="'https://www.youtube.com/channel/UCvQAN4mQj6C22tKp3dSQQRQ'"></app-footer-social>
    </div>
  </div>
</footer>
