<div class="event-details-photos" *ngIf="photos.length">
  <div class="event-container d-flex justify-content-between align-items-center">
    <p [translateLocal]="{EN:'PHOTOS',AR:'الصور'}"></p>
    <div class="buttons-container" *ngIf=" photos.length >= 3 ">
      <button class="slider-button btn-prev" (click)="prev()"><img
        [deploySrc]="'assets/images/icons/arrow-left-gray.png'" alt="">
      </button>
      <button class="slider-button btn-next" (click)="next()"><img
        [deploySrc]="'assets/images/icons/arrow-right-gray.png'"
        alt=""></button>
    </div>
  </div>
  <ngx-slick-carousel #latestSlickModal="slick-carousel" [config]="latestConfig">
    <div ngxSlickItem *ngFor="let photo of photos; let indexNow = index;">
      <img (mouseenter)="onHover(indexNow)" (mouseleave)="onHover(-1)" (click)="openDialog(photos ,indexNow);"
           [src]="photo.image" alt="event-details-photo" class="img-slider">
      <div *ngIf="indexNow == show" class="overlay">
        <p>{{photo.title}}</p>
      </div>
    </div>

  </ngx-slick-carousel>
</div>

