<div class="event-details-photos">
  <div class="d-flex justify-content-between align-items-center">
    <p>PHOTOS</p>
    <div class="buttons-container">
      <button class="slider-button btn-prev" (click)="prev()"><img src="assets/images/icons/arrow-left-gray.png" alt="">
      </button>
      <button class="slider-button btn-next" (click)="next()"><img src="assets/images/icons/arrow-right-gray.png"
                                                                   alt=""></button>
    </div>
  </div>
  <ngx-slick-carousel #latestSlickModal="slick-carousel" [config]="latestConfig">
    <div ngxSlickItem *ngFor="let photo of photos; let i = index;">
      <img (click)="openDialog(photos , i);" [src]="photo" alt="event-details-photo" class="img-slider">
    </div>
  </ngx-slick-carousel>

</div>

