<div class="event-details-might-like">
  <div class="d-flex justify-content-between align-items-center">
    <p>Photos</p>
    <div class="buttons-container">
      <button class="slider-button btn-prev" (click)="prev()"><img src="assets/images/icons/arrow-left-gray.png" alt="">
      </button>
      <button class="slider-button btn-next" (click)="next()"><img src="assets/images/icons/arrow-right-gray.png"
                                                                   alt=""></button>
    </div>
  </div>
  <ngx-slick-carousel #latestSlickModal="slick-carousel" [config]="latestConfig">
    <div ngxSlickItem *ngFor="let photo of photos">
      <img [src]="photo" alt="event-details-photo">
    </div>

  </ngx-slick-carousel>

</div>

