<div class="story-section">
  <div class="story-image-container">
    <img src="assets/images/our-story-image.png" alt="our-story">
  </div>
  <div class="story-container">
    <h2 class="story-title" [translateLocal]="{EN: 'OUR STORY', AR: 'عن Y-peer'}"></h2>
    <span class="story-sub-title" [translateLocal]="{EN: 'Who we are and what we do!', AR: 'من نحن، وما هي مجالات عملنا'}"></span>
    <div class="title-hr"></div>
    <p class="story-script" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: 'شبكة الأقران للشباب تعمل في مصر منذ أواخر عام 2005، ومنذ ذلك الحين تقوم الشبكة بعدة خطوات لإنشاء شبكة من الجمعيات الأهلية على عدة مستويات قومية ودولية.فهي تهتم ببناء المهارات و إكساب الخبرات المتعددة لأعضاء الشبكة عن طريق التدريبات المختلفة وتقدم لهم تقن'}"></p>
    <button class="btn ypeer-btn-purple" [translateLocal]="{EN: 'Read More', AR: 'المزيد'}"></button>
  </div>
</div>
