<div class="story-section">
  <div class="story-image-container">
    <img [deploySrc]="'assets/images/our-story-image.png'" alt="our-story">
  </div>
  <div class="story-container">
    <h2 class="story-title" [translateLocal]="{EN: 'OUR STORY', AR: 'عن Y-peer'}"></h2>
    <span class="story-sub-title"
          [translateLocal]="{EN: 'Who we are and what we do!', AR: 'من نحن، وما هي مجالات عملنا'}"></span>
    <div class="title-hr"></div>
    <p class="story-script"
       [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: 'مبادرة أطلقها صندوق الأمم المتحدة للسكان دوليًا عام 2002، تم العمل بها في مصر عام 2005، تعتمد على مبدأ الشراكات الفعالة والتشبيك مع الهيئات والمنظمات الأخرى.تعمل الشبكة مع الشباب من سن 18 إلى 28 سنة، وشعارها الأساسي من الشباب إلى الشباب.\n'}"></p>
    <button class="btn ypeer-btn-purple" [routerLink]="'/about-us'" [translateLocal]="{EN: 'Read More', AR: 'المزيد'}"></button>
  </div>
</div>
