.story-section {
  display: flex;

  .story-container {
    padding: 79px 83px 112px 78px;

    .story-title {
      font-size: 32px;
      color: #2e2e2e;
      font-weight: bold;
      line-height: 1.19;
    }

    .story-sub-title {
      font-size: 16px;
      color: #2e2e2e;
      line-height: 1.19;
    }

    .title-hr {
      width: 45px;
      height: 6px;
      background-color: #ff7900;
      margin-top: 23px;
      margin-bottom: 30px;
    }

    .story-script {
      font-size: 16px;
      color: #2e2e2e;
      line-height: 1.5;
    }

    .btn {
      border-radius: 0 !important;
    }

    .ypeer-btn-purple {
      margin-top: 70px;
    }

    .btn:hover {
      color: #ffffff;
    }
  }
}

@media (max-width: 900px) {
  .story-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .story-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

@media (max-width: 991px) {
  .story-image-container {
    img {
      max-width: 100%;
      width: 100%;
    }
  }
}

