<div class="nav-container">
  <div class="questions-num">Question 2 of 10</div>
  <div class="buttons-container">
    <button class="ypeer-btn ypeer-btn-purple" [translateLocal]="{EN: 'Previous', AR: 'السابق'}"
            [disabled]="currentQuestionIndex == 0" (click)="previousButtonClicked()"></button>
    <button class="ypeer-btn ypeer-btn-purple" [translateLocal]="{EN: 'Next', AR: 'التالي'}"
            [disabled]="currentQuestionIndex == numberOfQuestions-1" (click)="nextButtonClicked()"></button>
  </div>
</div>
