/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.ypeer-btn {
  color: white;
  padding: 13px 25px;
  font-size: 16px;
  height: 50px;
}
.btn-full-color {
  background-color: #673bb8;
  border: none;
}
.btn-outlined {
  background: transparent;
  border: solid 2px #673bb8;
  color: #673bb8;
}

.divider {
  color: #ff7900;
  opacity: 1;
  width: 60px;
  margin: auto;
  height: 6px !important;
}
.ypeer-btn-purple {
  padding: 13px 23px;
  background-color: #5a3f99;
  color: #ffffff;
  font-size: 16px;
}
[dir = rtl] body {
  text-align: right;
}
@font-face {
  font-family: TradeGothic;
  font-display: block;
  src: url(assets/fonts/Trade-Gothic-LT.ttf) format("truetype")
}

@font-face {
  font-family: DroidKufiBold;
  font-display: block;
  src: url(assets/fonts/DroidKufi-Bold.ttf) format("truetype")
}

@font-face {
  font-family: DroidKufiRegular;
  font-display: block;
  src: url(assets/fonts/DroidKufi-Regular.ttf) format("truetype")
}

@font-face {
  font-family: SegoeUI;
  font-display: block;
  src: url(assets/fonts/SegoeUI.ttf) format("truetype")
}

@font-face {
  font-family: SegoeUIBold;
  font-display: block;
  src: url(assets/fonts/SegoeUI-Bold.ttf) format("truetype")
}

@font-face {
  font-family: SegoeUIBoldItalic;
  font-display: block;
  src: url(assets/fonts/SegoeUI-Bold-Italic.ttf) format("truetype")
}

@font-face {
  font-family: SegoeUIItalic;
  font-display: block;
  src: url(assets/fonts/SegoeUI-Italic.ttf) format("truetype")
}

* {
  [dir="ltr"] {
    a, button, h1, h2, h3, h4, h5, h6, p, div, span {
      font-family: 'TradeGothic', sans-serif;
    }
  }

  [dir="rtl"] {
    h1, h2, h3, h4, h5, h6 {
      font-family: 'DroidKufiBold', sans-serif;
    }

    a, button, p, div, span {
      font-family: 'SegoeUI', system-ui;
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
