<div class="history-section">
  <div class="history-container">
    <h2 class="history-title" [translateLocal]="{EN: 'History', AR: 'تاريخ Y-peer'}"></h2>
    <div class="title-hr"></div>
    <p class="history-script" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: 'مبادرة أطلقها صندوق الأمم المتحدة للسكان دوليًا عام 2002، تم العمل بها في مصر عام 2005، تعتمد على مبدأ الشراكات الفعالة والتشبيك مع الهيئات والمنظمات الأخرى.'}"></p>
    <p class="history-head-title" [translateLocal]="{EN: 'Structure', AR: 'من نحن، وما هي مجالات عملنا'}"></p>
    <p class="history-script-two" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: 'حوالي 5000 مثقف قرين نشط في محافظات مصر المختلفة، مهمتهم تنفيذ الجلسات التوعوية والأنشطة المختلفة لتوصيل المعلومات للفئات المستهدفة ويعتبر مثقفي الأقران بمثابة حجر الأساس الذي تقوم عليه الشبكة'}"></p>
  </div>
  <div class="history-image-container">
    <img src="assets/images/history-img.png" alt="history-image">
  </div>
</div>
