<div class="history-section">
  <div class="history-container">
    <h2 class="history-title" [translateLocal]="{EN: 'History', AR: 'تاريخ Y-peer'}"></h2>
    <div class="title-hr"></div>
    <p class="history-script" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: 'شبكة الأقران للشباب تعمل في مصر منذ أواخر عام 2005، ومنذ ذلك الحين تقوم الشبكة بعدة خطوات لإنشاء شبكة من الجمعيات الأهلية على عدة مستويات قومية ودولية.فهي تهتم ببناء المهارات و إكساب الخبرات المتعددة لأعضاء الشبكة عن طريق التدريبات المختلفة وتقدم لهم تقن'}"></p>
    <p class="history-head-title" [translateLocal]="{EN: 'Structure', AR: 'من نحن، وما هي مجالات عملنا'}"></p>
    <p class="history-script-two" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: 'شبكة الأقران للشباب تعمل في مصر منذ أواخر عام 2005، ومنذ ذلك الحين تقوم الشبكة بعدة خطوات لإنشاء شبكة من الجمعيات الأهلية على عدة مستويات قومية ودولية.فهي تهتم ببناء المهارات و إكساب الخبرات المتعددة لأعضاء الشبكة عن طريق التدريبات المختلفة وتقدم لهم تقن'}"></p>
  </div>
  <div class="history-image-container">
    <img src="assets/images/history-img.png" alt="history-image">
  </div>
</div>
