<div class="history-section">
  <div class="history-container">
    <h2 class="history-title" [translateLocal]="{EN: 'Our structure', AR: 'الهيكل'}"></h2>
    <div class="title-hr"></div>
<!--    <p class="history-script" [translateLocal]="{EN: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.', AR: 'مبادرة أطلقها صندوق الأمم المتحدة للسكان دوليًا عام 2002، تم العمل بها في مصر عام 2005، تعتمد على مبدأ الشراكات الفعالة والتشبيك مع الهيئات والمنظمات الأخرى.'}"></p>-->
    <p class="history-head-title pt-0" [translateLocal]="{EN: 'Peer educators:', AR: 'مثقفي الأقران:'}"></p>
    <p class="history-script-two" [translateLocal]="{EN: 'About 5,000 active peer intellectuals in the various governorates of Egypt, whose mission is to implement awareness sessions to deliver information to the target groups.', AR: 'حوالي 5000 مثقف قرين نشط في محافظات مصر المختلفة، مهمتهم تنفيذ الجلسات التوعوية لتوصيل المعلومات للفئات المستهدفة.'}"></p>
 <p class="history-head-title" [translateLocal]="{EN: 'Coaches:', AR: 'المدربين:'}"></p>
    <p class="history-script-two" [translateLocal]="{EN: 'Originally all of the network\'s trainers are peer educators who have received national training of trainers, and the number of trainers of the Young Peer Network - Egypt is about 450 trainers.', AR: 'في الأصل كل مدربي الشبكة مثقفو أقران حصلوا على تدريبات إعداد مدربين وطني ويبلغ عدد مدربين شبكة الأقران الشباب - مصر حوالي 450 مدرب.'}"></p>
 <p class="history-head-title" [translateLocal]="{EN: 'National Coordination Team:', AR: 'فريق التنسيق الوطني:'}"></p>
    <p class="history-script-two" [translateLocal]="{EN: 'Originally, trainers, specialized in managing network affairs at the national and local levels, were elected annually.', AR: 'في الأصل مدربون، مختصون بإدارة شئون الشبكة على المستوى الوطني والمحلي، ويتم انتخابهم سنويًا.'}"></p>
   <p class="history-head-title" [translateLocal]="{EN: 'Governorate Coordinators:', AR: 'منسقي المحافظات:'}"></p>
    <p class="history-script-two" [translateLocal]="{EN: 'Originally, trainers specialized in managing network affairs at the local level in their governorates', AR: 'في الأصل مدربون، مختصون بإدارة شئون الشبكة على المستوى المحلي في محافظاتهم'}"></p>
    <p class="history-head-title"
       [translateLocal]="{EN: 'Advisory team:', AR: 'الفريق الاستشاري:'}"></p>
    <p class="history-script-two"
       [translateLocal]="{EN: 'Expert network trainers, specialized in providing technical and administrative support to network members.', AR: 'مدربون خبراء بالشبكة، مختصون بتقديم الدعم الفني والإداري لأعضاء الشبكة.'}"></p>
 <p class="history-head-title"
       [translateLocal]="{EN: 'Neutrality Committee:', AR: 'لجنة الحياد:'}"></p>
    <p class="history-script-two"
       [translateLocal]="{EN: 'The committee entrusted with solving problems, issuing recommendations, ensuring their implementation, and reviewing proposals to amend them.', AR: 'اللجنة المنوطة بحل المشكلات، وإصدار التوصيات، والتأكد من تطبيقها، ومراجعة مقترحات تعديلها.'}"></p>
  </div>
  <div class="history-image-container">
    <img [deploySrc]="'assets/images/history-img1.png'" alt="history-image">
  </div>
</div>
