<div class="list-container" >
  <div *ngFor="let newsList of newsLists">
  <a [routerLink]='["/news-details", newsList.id]'>
  <app-image-description-card
                              [imageSrc]="newsList.image" [type]="newsList.label"
                              [title]="newsList.title" [date]="newsList.date"
                              [description]="newsList.description">
  </app-image-description-card>
  </a>
</div>
</div>
<div class="btn-container">
  <button *ngIf="showLoadMoreButton" (click)="loadMoreData()" class="ypeer-btn btn-outlined" [translateLocal]="{EN: 'Load More', AR: 'المزيد'}"></button>
</div>
