.sign-in-container {
  background-color: #ffa50052;
  height: 768px;
  width: 100%;
  margin: 0;

  img {
    padding-top: 74px;
    padding-left: 73.7px;
  }

  .form-container {
    width: 490px;
    height: 498px;
    background-color: #FFFFFF;
    margin-top: 135px;
  }

  .rights-reserved-text {
    font-size: 11px;
    line-height: 1.18;
    color: #2e2e2e;
    display: flex;
    justify-content: flex-end;
  }
}
