.event-details-might-like {
  width: 100%;
  overflow: hidden;

  .event-container {
    width: 95%;
    @media(max-width: 1500px) {
      width: 100%;
    }
  }

  .buttons-container {
    position: relative;
    direction: initial;

    .slider-button {
      background: transparent;
      border: none;
      //position: absolute;
      cursor: pointer;
      //bottom: 30px;
      padding: 31px 0 32px 0;
    }

    .btn-next {
      img {
        @media(max-width: 500px) {
          width: 23px;
        }
      }
    }

    .btn-prev {
      img {
        @media(max-width: 500px) {
          width: 23px;
        }
      }
    }
  }

  .might-like-container {
    display: flex;
    justify-content: space-between;
    @media(max-width: 991px) {
      flex-direction: column;
    }
  }

  p {
    font-size: 32px;
    font-weight: bold;
    color: #232323;
    padding: 46px 0 32px 0;
    margin-bottom: 0;
    @media(max-width: 500px) {
      font-size: 16px;
    }
    @media(max-width: 320px) {
      font-size: 10px;
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }
}

[dir = rtl] .buttons-container {
  .btn-prev {
    left: 46px;
    right: auto;
  }

  .btn-next {
    left: 84px;
    right: auto;
  }
}

@media (max-width: 500px) {
  .buttons-container {
    .slider-button {
      bottom: 570px;
    }

    .btn-next {
      right: 10%;
    }

    .btn-prev {
      right: 20%;
    }
  }
}

@media (max-width: 370px) {
  .buttons-container {
    .slider-button {
      bottom: 550px;
    }
  }
}

@media (max-width: 330px) {
  .buttons-container {
    .slider-button {
      bottom: 520px;
    }
  }
}

::ng-deep {
  .slick-track {
    margin: 0 !important;
  }
}


