<div class="illustrative-container" *ngIf="illustrativeData">
  <div class="media-container">
    <img [src]="illustrativeData.image" alt="video-image" class="media-image">
    <div class="overlay">
        <img src="assets/images/icons/play-arrow.png" alt="play-icon" class="play-icon">
    </div>
  </div>
  <div class="illustration-container">
    <h1 [translateLocal]="illustrativeData.title"></h1>
    <span>Deadline: {{illustrativeData.date.EN | date}}</span>
    <p [translateLocal]="illustrativeData.description"></p>
  </div>
</div>
