<div class="list-container">
  <div *ngFor="let eventsList of eventsLists;let i = index;">
    <a [routerLink]='["/event-details", i]'>
      <app-image-description-card
        [imageSrc]="eventsList.image" [type]="eventsList.label"
        [title]="eventsList.title" [date]="eventsList.date"
        [description]="eventsList.description">
      </app-image-description-card>
    </a>
  </div>
</div>
<div class="btn-container">
  <button *ngIf="showLoadMoreButton"
          (click)="loadMoreData()"
          class="ypeer-btn btn-outlined"
          [translateLocal]="{EN: 'Load More', AR: 'المزيد'}"></button>
</div>
