.details-banner {
  img {
    width: 100%
  }

  h3 {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
  }

  p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 56px;
    height: 28px;
    background-color: #ff7900;
  }
}
