<div class="photo-number-container">
  <h3>{{current+1}} / {{album.length}}</h3>
  <img (click)="close()" [deploySrc]="'assets/images/icons/close.png'" alt="image-arrow-left" class="close-img">
</div>
<div class="view-image">
  <a (click)="prev(current)">
    <img [deploySrc]="'assets/images/icons/arrow-left-image.png'" alt="image-arrow-left" class="arrow-img">
  </a>
  <div *ngFor="let item of album |slice :current:current+1 ;let current = index;" >
    <img class="w-100" [src]="item.image"/>
  </div>

  <a (click)="next(current)">
    <img
      [deploySrc]="'assets/images/icons/arrow-right-image.png'"
      alt="image-arrow-right"
      class="arrow-img">
  </a>

</div>
<div class="photo-caption-container">
  <h3>{{album[current].title}}</h3>
</div>
