<div class="photo-number-container">
  <h3>2 / 6</h3>
  <img src="assets/images/icons/close.png" alt="image-arrow-left" class="close-img">
</div>
<div class="view-image">
  <img src="assets/images/icons/arrow-left-image.png" alt="image-arrow-left" class="arrow-img">
  <img src="assets/images/view-image-event-details.png" alt="image-even-details">
  <img src="assets/images/icons/arrow-right-image.png" alt="image-arrow-right" class="arrow-img">
</div>
<div class="photo-caption-container">
  <h3>Photo Caption</h3>
</div>
